<p>table works!</p>
<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>State</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tamil</td>
        <td>18</td>
        <td>Tamilnadu</td>
        <td>India</td>
      </tr>
      <tr>
        <td>Dhoni</td>
        <td>35</td>
        <td>Gujarat</td>
        <td>India</td>
      </tr>
      <tr>
        <td>Krishna</td>
        <td>25</td>
        <td>Uttarpradesh</td>
        <td>India</td>
      </tr>
      <tr>
        <td>Abdulkalam</td>
        <td>66</td>
        <td>Tamilnadu</td>
        <td>India</td>
      </tr>
    </tbody>
  </table>
</div>
